<div class="container">
  <div class="profile">
    <h3>User Info:</h3>
    <div class="flex">
      <p>Username:</p>
      <p>{{ userInfo.username }}</p>
    </div>
    <div class="flex">
      <p>Email:</p>
      <p>{{ userInfo.email }}</p>
    </div>
    <div class="flex">
      <p>Phone:</p>
      <p>+359 885 888 888</p>
    </div>
    <div class="flex">
      <p>Wishlist:</p>
      <p>
        You have
        <a routerLink="/auth/wishlist">{{ userInfo.wishlist.length }}</a> items.
      </p>
    </div>
    <!-- <button class="edit-button">Edit</button> -->
  </div>
</div>
