<div class="error" *ngIf="errorMessage">
  {{ errorMessage }}
</div>

<form #gfg="ngForm" (ngSubmit)="loginUser()">
  <div class="container">
    <h1>Login</h1>
    <hr />
    <label for="email"><b>Email</b></label>
    <input
      #emailInput="ngModel"
      type="text"
      placeholder="Enter Email"
      name="email"
      id="email"
      required
      [(ngModel)]="email"
    />
    <ng-container
      *ngIf="!isEmailValid() && (emailInput.dirty || emailInput.touched)"
    >
      <p style="color: red;">Please enter valid email(ex. johndoe@gmail.com)</p>
    </ng-container>
    <label for="psw"><b>Password</b></label>
    <input
      #passwordInput="ngModel"
      type="password"
      placeholder="Enter Password"
      name="psw"
      id="psw"
      required
      [(ngModel)]="password"
    />

    <ng-container
      *ngIf="
        passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)
      "
    >
      <p style="color: red;">password is required</p>
    </ng-container>

    <hr />

    <button class="registerbtn">Login</button>
  </div>

  <div class="container signin">
    <p>Don't have an account? <a routerLink="/auth/register">Register</a>.</p>
  </div>
</form>
