<div class="error" *ngIf="errorMessage">
  {{ errorMessage }}
</div>

<form #gfg="ngForm" (ngSubmit)="registerUser()">
  <div class="container">
    <h1>Register</h1>
    <hr />

    <label for="username"><b>Username</b></label>
    <input
      #usernameInput="ngModel"
      type="text"
      placeholder="Enter username"
      name="username"
      id="username"
      required
      [(ngModel)]="username"
    />

    <ng-container  *ngIf="usernameInput.invalid &&(usernameInput.dirty||usernameInput.touched)">
      <p class="error">username is required</p>
    </ng-container>

    <label for="email"><b>Email</b></label>
    <input
      #emailInput="ngModel"
      type="text"
      placeholder="Enter Email"
      name="email"
      id="email"
      required
      [(ngModel)]="email"
    />
    <ng-container *ngIf="!isEmailValid() && (emailInput.touched||emailInput.dirty)">
      <p class="error">Email must be valid(ex. johndoe@gmail.com)</p>
    </ng-container>

    <label for="psw"><b>Password</b></label>
    <input
      #passwordInput="ngModel"
      type="password"
      placeholder="Enter Password"
      name="psw"
      id="psw"
      required
      [(ngModel)]="password"
    />

    <ng-container *ngIf="isPasswordValid() && (passwordInput.touched||passwordInput.dirty)">
      <p class="error">password must be at least 6 characters long</p>
    </ng-container>

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input
      #repassInput="ngModel"
      type="password"
      placeholder="Repeat Password"
      name="psw-repeat"
      id="psw-repeat"
      required
      [(ngModel)]="repass"
    />

    <ng-container *ngIf="!isRepassValid() && (repassInput.touched||repassInput.dirty)">
      <p class="error">password's must match</p>
    </ng-container>

    <hr />

    <button class="registerbtn">Register</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a routerLink="/auth/login">Sign in</a>.</p>
  </div>
</form>
