<ul>
  <li><a routerLink="/">Home</a></li>
  <ng-container *ngIf="!isLoggedIn">
    <li><a routerLink="/auth/login">Login</a></li>
    <li><a routerLink="/auth/register">Register</a></li>
  </ng-container>
  <ng-container *ngIf="isLoggedIn">
    <li>
      <a routerLink="/auth/profile">{{ user?.username }}'s profile</a>
    </li>
  </ng-container>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Products</a>
    <div class="dropdown-content">
      <a routerLink="/products/shirts">Shirts</a>
      <a routerLink="/products/sweatshirts">Sweatshirts</a>
      <a routerLink="/products/shorts">Shorts</a>
      <a routerLink="/products/panths">Panths</a>
    </div>
  </li>
</ul>
