<ul id="menu">
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="/products/shirts/mostWishlisted">Most Wishlisted</a></li>
  <li>
    <a href="javascript:void(0)">Products</a>
    <ul>
      <li>
        <a href="javascript:void(0)">English League</a>
        <ul>
          <li><a routerLink="/products/teams/Manchester City">Man City</a></li>
          <li>
            <a routerLink="/products/teams/Manchester United">Man United</a>
          </li>
          <li><a routerLink="/products/teams/Arsenal">Arsenal</a></li>
          <li><a routerLink="/products/teams/Chelsea">Chelsea</a></li>
          <li><a routerLink="/products/teams/Liverpool">Liverpool</a></li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0)">Spanish League</a>
        <ul>
          <li><a routerLink="/products/teams/Barcelona">Barcelona</a></li>
          <li><a routerLink="/products/teams/Real Madrid">Real Madrid</a></li>
          <li><a routerLink="/products/teams/Atletico Madrid">Atl. Madrid</a></li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0)">German League</a>
        <ul>
          <li><a routerLink="/products/teams/Bayern Munich">Bayern Munich</a></li>
          <li><a routerLink="/products/teams/Borussia Dortmund">Borussia D.</a></li>
          <li><a routerLink="/products/teams/RB Leipzig">RB Leipzig</a></li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0)">Italian League</a>
        <ul>
          <li><a routerLink="/products/teams/Juventus">Juventus</a></li>
          <li><a routerLink="/products/teams/Milan">Milan</a></li>
          <li><a routerLink="/products/teams/Inter">Inter</a></li>
          <li><a routerLink="/products/teams/Napoli">Napoli</a></li>
        </ul>
      </li>
      <li>
        <a href="javascript:void(0)">French League</a>
        <ul>
          <li><a routerLink="/products/teams/PSG">PSG</a></li>
          <li><a routerLink="/products/teams/Marseille">Marseille</a></li>
          <li><a routerLink="/products/teams/Olympic Lyon">Ol. Lyon</a></li>
        </ul>
      </li>
    </ul>
  </li>
  <div class="rightSide">
    <ng-container *ngIf="!isLoggedIn">
      <li><a routerLink="/auth/login">Login</a></li>
      <li><a routerLink="/auth/register">Register</a></li>
    </ng-container>
    <ng-container *ngIf="isLoggedIn">
      <li>
        <a href="javascript:void(0)">Profile</a>
        <ul>
          <li><a routerLink="/auth/profileInfo">Profile Info</a></li>
          <li><a routerLink="/auth/wishlist">My wishlist</a></li>
          <li (click)="logout()"><a routerLink="/">Logout</a></li>
        </ul>
      </li>
    </ng-container>
  </div>
</ul>
